
.formRent{
    padding-top: 150px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    margin-left: 40vw;
    button{
        width: 60px;
    }
    input{
        margin-left: 1vw;
    }
}


