.buttonDate{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vw;
    background-color: rgb(104, 99, 99);
    color: #ffffff;
    height: 4vw;
}