@font-face{
    font-family: circular;
    src: url("../../../public/assets/AvenirLTStd-Black.otf")
}
div{
    font-family: circular;
    p{
        margin: 0px;
    }
    .body-home{
        padding-top: 80px;
        .parkings{
            
            display: flex;
           
            flex-wrap: wrap;
            margin-left: 70px;
            gap: 40px;
            .scale{
                transform: translate(scale(1));
            }
            .card{
                
                
                width: 20%;
                height: 300px;
                border-radius: 10px;
                padding: 5px;
                margin-bottom: 60px;

                .button{
                    button{
                        cursor: pointer;
                        font-family: circular;
                        padding: 10px;
                        border: none;
                        border-radius: 15px;
                    }
                    display: flex;
                    justify-content: center;
                }

                .park-libre{
                    color: rgb(6, 199, 6);
                    font-family: 'Kanit', sans-serif;
                    #park-p{
                        color: black;
                        display: inline;
                        font-size: 1rem;
                        margin-right: 1%;
                    }
                }
                .park-ocupado{
                    color: red;
                    font-family: 'Kanit', sans-serif;
                    #park-p{
                        color: black;
                        display: inline;
                        font-size: 1rem;
                        margin-right: 1%;
                    }
                }
                .park-adress{
                    margin-top: 5px;
                }
                .park-price{
                   color: grey;
                }
                .park-size{
                    font-family: 'Kanit', sans-serif;
                }
                h2{
                    font-size: 20px;
                    text-align: center;
                    font-family: 'Kanit', sans-serif;
                    font-weight: 800;
                }
                img{
                    border-radius: 20px;
                    margin-top: 10px;
                    width: 250px;
                    height: 200px;
                    max-height: 300px;
                    
                }
            }
            .card::-webkit-scrollbar {
                width: 0px;
            }
            .card:hover{
                
                
            }
            .camion{
                
            }
            .furgoneta{
                
            }
            .moto{
                
            }
            .turismo{
                
            }
            .caravana{
                
            }
        }
    }
}

.buttonShow {

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vw;
    background-color: rgb(104, 99, 99);
    color: #ffffff;
    height: 3vw;

}

.darkMode {
    background-color: #1a1a1a;
    color: white;
  }
