@font-face{
    font-family: circular;
    src: url("../../../public/assets/AvenirLTStd-Black.otf")
}
div{
    font-family: circular;
    p{
        margin: 0px;
    }
    .body-home{
        padding-top: 80px;
        background-color: white;
        .parkings{
            
            display: flex;
            flex-wrap: wrap;
            margin: 5px;
            justify-content: space-around;
            .card{
                
                cursor: pointer;
                width: 25%;
                height: 300px;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 50px;
                .park-libre{
                    color: rgb(6, 199, 6);
                    font-family: 'Kanit', sans-serif;
                    #park-p{
                        color: black;
                        display: inline;
                        font-size: 1rem;
                        margin-right: 1%;
                    }
                }
                .park-ocupado{
                    color: red;
                    font-family: 'Kanit', sans-serif;
                    #park-p{
                        color: black;
                        display: inline;
                        font-size: 1rem;
                        margin-right: 1%;
                    }
                }
                .park-adress{
                    margin-top: 5px;
                }
                .park-price{
                   color: grey;
                }
                .park-size{
                    font-family: 'Kanit', sans-serif;
                }
                h2{
                    font-size: 20px;
                    text-align: center;
                    font-family: 'Kanit', sans-serif;
                    font-weight: 800;
                }
                img{
                    border-radius: 20px;
                    margin-top: 10px;
                    width:100%;
                    height: 200px;
                    max-height: 300px;
                    
                }
            }
            .card::-webkit-scrollbar {
                width: 0px;
            }
            .card:hover{
                
                
            }
            .camion{
                
            }
            .furgoneta{
                
            }
            .moto{
                
            }
            .turismo{
                
            }
            .caravana{
                
            }
        }
    }
}