div{
    .body-home{
        padding-top: 80px;
        background-color: white;
        .parkings{
            display: flex;
            flex-wrap: wrap;
            margin: 5px;
            justify-content: space-around;
            .card{
                width: 25%;
                height: 300px;
                overflow-y: scroll;
                border: 1px solid black;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 20px;
                .park-libre{
                    color: rgb(6, 199, 6);
                    font-family: 'Kanit', sans-serif;
                    #park-p{
                        color: black;
                        display: inline;
                        font-size: 1rem;
                        margin-right: 1%;
                    }
                }
                .park-ocupado{
                    color: red;
                    font-family: 'Kanit', sans-serif;
                    #park-p{
                        color: black;
                        display: inline;
                        font-size: 1rem;
                        margin-right: 1%;
                    }
                }
                .park-price{
                    color: white;
                    display: inline;
                    padding: 5px;
                    margin: 15px;
                    font-family: 'Kanit', sans-serif;
                    border: 1px solid black;
                    border-radius: 20px;
                    background-color: rgba(0, 0, 0, 0.4);
                }
                .park-size{
                    font-family: 'Kanit', sans-serif;
                }
                h2{
                    font-size: 20px;
                    text-align: center;
                    font-family: 'Kanit', sans-serif;
                    font-weight: 800;
                }
                img{
                    margin-top: 10px;
                    width:100%;
                    max-height: 300px;
                }
            }
            .card::-webkit-scrollbar {
                width: 0px;
            }
            .card:hover{
                transform: scale(1.2);
                transition-property: transform;
                transition-duration: 1s;
                transition-timing-function: ease-in;
            }
            .camion{
                background-color: rgb(65, 65, 65);
            }
            .furgoneta{
                background-color: rgb(146, 145, 145);
            }
            .moto{
                background-color: rgb(114, 114, 114);
            }
            .turismo{
                background-color: rgb(99, 99, 99);
            }
            .caravana{
                background-color: rgb(43, 43, 43);
            }
        }
    }
}