.mapa{
    position: fixed;
    left: 45%;
    bottom: 15%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color:black;
}
.containerMap{
display: flex;
cursor: pointer;
}
.buttonMapa{
    color: white;
    background: none;
    border: none;
    opacity: 1;
    cursor: pointer;
}