footer{
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  flex-direction: row;
        
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none
        
        
    }
}
.darkfooter{
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    flex-direction: row;
}
