

.leaflet-container{
    position: absolute;
    top: 16%;
    width: 100vw;
    
    height: 80vh;
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}  



}
body{
    font-family: circular;
    margin: 0px;
}
